# Copia este archivo a .env.local #Copy-Item .env.example .env.local
NODE_ENV=development

# Backend NestJS
NEXT_PUBLIC_API_URL=http://localhost:3001

# Usuario demo que el frontend usa para obtener JWT automáticamente
NEXT_PUBLIC_DEMO_USER_NAME=Usuario Demo RentOS
NEXT_PUBLIC_DEMO_USER_EMAIL=demo@rentos.com
NEXT_PUBLIC_DEMO_USER_PASSWORD=Demo12345
NEXT_PUBLIC_DEMO_TENANT_ID=demo-tenant
